<!DOCTYPE html>
<html>
  <head>
    <title>title here</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">-->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!--<script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!--<script src="https://npmcdn.com/vue/dist/vue.js"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/vue.validator/2.1.3/vue-validator.min.js"></script>-->
    <script src="js/vue.js"></script>
    <script src="js/vue-validator.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      tr.hidden-row td {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        border-top: none !important;
      }
      /*tr.hidden-row td div {
        display: none !important;
      }*/
      .input-error {
        background-color: salmon !important;
      }
      .capitalize {
        text-transform: capitalize;
      }
      .errors {
        color: salmon;
        font-weight: bold;
        padding: 8px 0 0 0;
      }
      label {
        text-align: left !important;
      }
    </style>
  </head>
  <body>
  <div class="container" style="margin-top: 50px;">
    <!-- Content header BEGIN -->
    <div class="col-md-12" style="margin-bottom: 25px; padding-left: 0;">
      <div class="col-md-6">
        <label class="btn-lg" style="margin-bottom: 0;">Users</label>
      </div>
      <div class="col-md-6">
        <button id="add_user" v-on:click="newUser()" type="submit" class="btn btn-lg btn-default">Add user</button>
      </div>
    </div>
    <!-- Content header END -->

    <!-- Content user list BEGIN -->

    <div class="col-md-6">
      <table class="table table-hover" id="user_list"> 
        <thead> 
          <tr> 
            <th>Username</th> 
            <th>Last active</th> 
          </tr> 
        </thead>
        <tbody v-for="(role, count) in getRoles">
          <tr id="role_header" class={{role|toClass}} data-toggle="collapse" data-target=".collapse_{{role|toClass}}" onclick="collapse(this,'{{role}}')">
            <td><strong>{{ role|getRoleName }} ({{ count }})</strong></td>
          </tr>
          <tr id="role_content" v-for="user in users | filterBy role in 'role' " v-on:click="selectUser(user)"> 
            <td><div class="collapse in collapse_{{role|toClass}}">{{ user.username }}</div></td>
            <td v-if="user.is_active"><div class="collapse in collapse_{{role|toClass}}">{{ user.last_login|checkLastLogin }}</div></td>
            <td v-if="!user.is_active"><div class="collapse in collapse_{{role|toClass}}">Disabled</div></td>
          </tr> 
        </tbody>
      </table>
    </div>
    <!-- Content user list END -->

    <!-- Content user form BEGIN -->
    <div id="user_form" class="col-md-6">
      <validator name="validation" v-on:submit.prevent="onSubmit($event)">
        <form class="form-horizontal" autocomplete="off" novalidate>
          <div class="form-group">
            <label class="col-sm-6 control-label" style="text-align: left; font-size: 18px;">{{fullName}} </label>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Username</label>
            <div class="col-sm-6">
              <input id="username" type="email" class="form-control" placeholder="username@domain.com" v-model="newUserData.username" value="{{selectedUser.username}}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" v-validate:username="['required','email']">
            </div>
            <div class="errors col-sm-4">
              <p v-show="$validation.username.required">{{validationMessages.required}}</p>
              <div v-else><p v-show="$validation.username.email">{{validationMessages.email}}</p></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Role</label>
            <div class="col-sm-5 col-sm-push-1">
              <select id="role" class="form-control" v-model="newUserData.role" v-validate:role="{required: true}">
                  <option v-for="userRole in userRoles" v-bind:selected="selectedUser.role==userRole.value" value="{{userRole.value}}">{{userRole.name}}</option>
              </select>
            </div>
            <div class="errors col-sm-4 col-sm-push-1">
              <p v-show="$validation.role.required">{{validationMessages.required}}</p>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-3 control-label">First name</label>
            <div class="col-sm-6 col-sm-pull-1">
              <input id="firstname" type="text" class="form-control capitalize" placeholder="eg. Matt" v-model="newUserData.first_name" value="{{selectedUser.first_name}}" v-validate:firstname="['required']" required>
            </div>
            <div class="errors col-sm-3 col-sm-pull-1">
              <p v-show="$validation.firstname.required">{{validationMessages.required}}</p>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-3 control-label">Last name</label>
            <div class="col-sm-6 col-sm-pull-1">
              <input id="lastname" type="text" class="form-control capitalize" placeholder="eg. Damon" v-model="newUserData.last_name" value="{{selectedUser.last_name}}" v-validate:lastname="['required']">
            </div>
            <div class="errors col-sm-3 col-sm-pull-1">
              <p v-show="$validation.lastname.required">{{validationMessages.required}}</p>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-2 control-label">Status</label>
            <div class="col-sm-5 col-sm-push-1">
              <select class="form-control" id="is_active" v-validate:isActive="{ required: true }">
                <option v-bind:selected="selectedUser.is_active" value="true">Active</option>
                <option v-bind:selected="selectedUser.is_active==false" value="false">Disabled</option>
              </select>
            </div>
            <div class="errors col-sm-4 col-sm-push-1">
              <p v-show="$validation.isActive.required">{{validationMessages.required}}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Last login</label>
            <label class="col-sm-6 col-sm-pull-1 control-label" style="text-align: right !important;"><input  style="display:none;" v-model="newUserData.last_login" value="{{selectedUser.last_login}}" readonly>{{selectedUser.last_login}}</label>
          </div>
          <div class="form-group">
            <div class="col-sm-4">
              <a class="btn btn-default" v-on:click="deleteUser()">Delete</a>
            </div>
            <div class="col-sm-4">
              <a class="btn btn-default" v-on:click="resetPw()">Reset password</a>
            </div>
            <div class="col-sm-4">
              <input type="submit" value="Save" class="btn btn-default"  v-on:click="saveUser($event)" v-bind:disabled="$validation.invalid">
            </div>     
          </div>
        </form>
      </validator>
    </div>
    
    <!-- Content user form END -->

    <script src="js/controller.js"></script>
  </div>
  </body>
</html>